* {
  margin: 0;
  padding: 0;
  font-family: poppins;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#back {
  width: 100%;
  height: 100vh;
}

#back img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#content {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1920px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 0px;
}

.lnav,
.rnav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.lnav img {
  padding-left: 20px;
  margin-right: -20px;
  height: 80px;
}

.lnav a,
.rnav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  pointer-events: all;
}

.hero {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.lhero {
  min-width: 50%;
}

.lhero .elem {
  position: relative;
  height: 9vw;
  overflow: hidden;
}

.lhero .elem h1:nth-child(1) {
  top: 0%;
}

.lhero .elem h1 {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 0.9;
  font-family: "kajiro";
  color: #fff;
  font-weight: 100;
  font-size: 11vw;
}

.lhero button {
  padding: 0.8vw 3vw;
  font-size: 3vw;
  margin-top: 2vw;
  font-family: "kajiro";
  pointer-events: all;
}

.rhero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 18%;
  color: #fff;
}

.rhero p {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

.rhero .imagediv {
  width: 100%;
  height: 170px;
  margin: 20px 0px;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ea401ecc-5e58-401f-bb54-6a351ed9f639/d5qrhdw-cf43412d-1730-4199-94af-a5d6c19675ca.jpg/v1/fill/w_1131,h_707,q_70,strp/koenigsegg_ghost_logo_by_dracu_teufel666_d5qrhdw-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA1MCIsInBhdGgiOiJcL2ZcL2VhNDAxZWNjLTVlNTgtNDAxZi1iYjU0LTZhMzUxZWQ5ZjYzOVwvZDVxcmhkdy1jZjQzNDEyZC0xNzMwLTQxOTktOTRhZi1hNWQ2YzE5Njc1Y2EuanBnIiwid2lkdGgiOiI8PTE2ODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.EzuFMlJqoAfiWhm6L6Algz6uc0uyZfi7JfRa2dwOYBw);
  background-size: cover;
  background-position: center;
}

.rhero p:nth-child(3) {
  margin-bottom: 100px;
}
